.nav_mobile {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #38384f;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  gap: 50px;
  margin-bottom: 95px;
}

.nav_mobile_button {
  background: none;
  border: none;
  color: #838391;
  padding-top: 17px;
  padding-bottom: 20px;
  font-family: "League Spartan";
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.93px;
  cursor: pointer;
}

.nav_mobile_button:hover {
  color: #FFFFFF;
}

.nav_mobile_button.active {
  border-bottom: 4px solid #D83A34;
}
