$base_color: #FFFFFF;
$background_color: #070724;
$hover_color: #38384F;
$text_color: #838391;
$mercury_color: #419EBB;
$venus_color: #EDA249;
$earth_color: #6f2ed6;
$mars_color: #D14C32;
$jupiter_color: #D83A34;
$saturn_color: #CD5120;
$uranus_color: #1ec2a4;
$neptune_color: #2d68f0;
$outside_color: yellow;
$inside_color: #099c1f
