$base_color: #FFFFFF;
$background_color: #070724;
$hover_color: #38384F;
$text_color: #838391;
$mercury_color: #419EBB;
$venus_color: #e7b512;
$earth_color: #6f2ed6;
$mars_color: #ed1010;
$jupiter_color: #fe9f32;
$saturn_color: #f1f908;
$uranus_color: #1ec2a4;
$neptune_color: #2d68f0;
$outside_color: rgb(215, 226, 68);
$inside_color: #099c1f
