body {
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #070724;
  background-image: url("../assets/background-stars.svg");
}

p {
  font-family: "Spartan";
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

h1, h2 {
  font-family: "Antonio";
  font-weight: normal;
}

h1 {
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
}

h3, h4 {
  font-family: "Spartan";
  font-weight: bold;
  line-height: 25px;
}

h3 {
  font-size: 30px;
  letter-spacing: 2.6px;
}

h4 {
  font-size: 20px;
  letter-spacing: 1px;
}

body {
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/gallery/home_page_mobile.jpg");
}

@media only screen and (min-resolution: 192dpi) {
  body {
    background-image: url("../../assets/gallery/home_page_mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../../assets/gallery/home_page_tablet.jpg");
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  body {
    background-image: url("../../assets/gallery/home_page_tablet@2x.jpg");
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url("../../assets/gallery/home_page_desktop.jpg");
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  body {
    background-image: url("../../assets/gallery/home_page_desktop_2x.jpg");
  }
}

.solar_title {
  font-family: "Mouse Memoirs";
  max-width: 450px;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: transparent;
}

.comet {
  display: inline-block;
  position: relative;
  opacity: 0;
  color: #050202;
  -webkit-text-stroke: 2px #6f2ed6;
  text-shadow: 0 0 20px yellow;
  animation: comet 2s ease forwards;
  margin: 0 5px;
}

@keyframes comet {
  0% {
    transform: translateX(-100vw) translateY(-50vh);
    opacity: 0;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px yellow, 0 0 50px yellow, 0 0 100px yellow;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
    text-shadow: 0 0 20px yellow;
  }
}
