.navigation {
  background-color: #070724;
  background-image: url("../../assets/background-stars.svg");
  margin-top: -33px;
  padding: 16px 24px 0px 24px;
}

.navigation_header {
  display: flex;
  justify-content: space-between;
}

.navigation_header_icon {
  cursor: pointer;
}

.list {
  display: none;
}

.list_open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 0px;
  padding-left: 24px;
  background-color: #070724;
  background-image: url("../../assets/background-stars.svg");
  height: 100%;
  width: 100%;
  z-index: 10;
}

.list_closed {
  display: none;
}

.list_element {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  gap: 35px;
  border-bottom: solid 1px;
  border-color: rgba(56, 56, 79, 0.5);
  cursor: pointer;
}

.list_element:nth-child(1):hover {
  background-image: url("../../assets/gallery/home_page_mobile.jpg");
  background-position: left;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(2):hover {
  background-color: #419EBB;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(3):hover {
  background-color: #EDA249;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(4):hover {
  background-color: #6f2ed6;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(5):hover {
  background-color: #D14C32;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(6):hover {
  background-color: #D83A34;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(7):hover {
  background-color: #CD5120;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(8):hover {
  background-color: #1ec2a4;
  border-bottom: none;
  color: #070724;
}

.list_element:nth-child(9):hover {
  background-color: #2d68f0;
  border-bottom: none;
  color: #070724;
}

.list_element_text {
  font-family: "League Spartan";
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  width: 170px;
  padding: 5px 10px 5px 10px;
}

.list_element_icon {
  width: 30px;
  padding-right: 25px;
}

.list_element:hover .list_element_icon {
  background-color: #070724;
}

.list_element_icon_arrow {
  width: 15px;
  transition: transform 0.3s ease;
}

.list_element:hover .list_element_icon_arrow {
  filter: invert(100%) brightness(0);
  transform: translateX(100px);
  width: 30px;
}

.body_hidden {
  overflow: hidden;
}

.body_hidden .main-content {
  display: none;
}
